<!DOCTYPE html>
<html>

<head>
  <title>Lý Thanh Liêm - 1612872</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 my-md-0 mr-auto">
      <a class="navbar-brand" href="/">LyLi Shop</a>
    </nav>
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/users">Thông tin cá nhân</a>
        <a class="dropdown-item" href="/users/orders">Lịch sử đơn hàng</a>
      </div>
    </div>

    <a class="p-2 text-dark" href="/search">Tìm kiếm</a>
    <a href="/cart" class="btn btn-outline-primary">
      <i class="fa fa-shopping-cart"></i>
      <span class="badge badge-danger">4</span>
    </a>
    <a class="p-2 text-dark" href="/users/login">Đăng nhập</a>
    <a class="btn btn-outline-primary" href="/users/register">Đăng ký</a>


  </div>

  <div style="min-height: 76vh;"> {{{body}}}</div>

  <footer class="footer py-3 bg-black" style="background-color: lightgrey;">
    <div class="container text-center">
      <span class="text-muted">Website thương mại điện tử được dựng bởi Lý Thanh Liêm - 1612872</span>
    </div>
  </footer>
  <script type="text/javascript" src="/js/action_page.js"></script>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>