<div class="container-fluid">
    <div class="row">
        <div class="offset-4 col-md-4">
            <form action="">
                <h2 class="text-center">Thông tin cá nhân</h2>
                <div>
                    <img class="mr-3 mt-3 rounded-circle" src="https://www.w3schools.com/bootstrap4/img_avatar3.png"
                        alt="">
                </div>

                <div class="form-group">
                    <label for="">Cập nhật hình ảnh</label>
                    <input class="form-control" type="file">
                </div>

                <div class="form-group">
                    <label for="">Họ và tên</label>
                    <input class="form-control" value="Lý Thanh Liêm" type="text">
                </div>

                <div class="form-group">
                    <label for="">Địa chỉ email</label>
                    <input readonly class="form-control" value="liemly98@gmail.com" type="text">
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" value="Cập nhật thông tin" type="button">
                </div>

            </form>

        </div>
    </div>
</div>