<div class="container-fluid">
    <h4 class="text-center">Đăng nhập</h4>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Địa chỉ email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Mật khẩu</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <a href="/users/forgot">Quên mật khẩu</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/users" class="btn btn-primary text-right">Đăng nhập</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>