<div class="container">
    <h4>Đơn hàng của tôi</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày mua</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>279247845</td>
                <td>12/12/2019</td>
                <td>Macbook Pro 2016 256GB</td>
                <td>30.000.000đ </td>
                <td>Đang giao</td>
            </tr>
            <tr>
                <td>279247845</td>
                <td>12/12/2018</td>
                <td> Bút Lông Kim Eye Micro (0.5) UB-150-Đỏ...và 01 sản phẩm khác</td>
                <td>300.000đ </td>
                <td>Đã giao</td>
            </tr>
            <tr>
                <td>14280689</td>
                <td>08/10/2017 </td>
                <td> Tam Quốc Diễn Nghĩa (Trọn Bộ 04 Tập)...và 01 sản phẩm khác</td>
                <td>300.000đ </td>
                <td>Đã giao</td>
            </tr>
            <tr>
                <td>18721485</td>
                <td>07/10/2017</td>
                <td>Combo Sherlock Holmes Toàn Tập (Trọn Bộ 3 Tập)</td>
                <td>150.000đ </td>
                <td>Đã giao</td>
            </tr>
        </tbody>
    </table>

</div>