<div class="container">
    <h2>Điện thoại OPPO F11 Pro 128GB</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="card-img-top"
                src="https://cdn.tgdd.vn/Products/Images/42/210653/iphone-11-pro-max-256gb-green-400x400.jpg"
                alt="Card image">
            <br/>
            <br/>
            <a href="#" class="btn btn-success">Thêm vào giỏ hàng</a>
        </div>
        <div class="col-md-8">
            <h3>Thông số kỹ thuật</h3>
            <ul class="list-group">
                <li class="list-group-item">Danh mục: <a href="/category/dien-thoai">Điện thoại di động</a></li>
                <li class="list-group-item">Nhà sản xuất: <a href="/manufacturer/apple">Apple</a></li>
                <li class="list-group-item">Màn hình: LTPS LCD, 6.5", Full HD+</li>
                <li class="list-group-item">Hệ điều hành: Android 9.0 (Pie)</li>
                <li class="list-group-item">Camera sau: Chính 48 MP & Phụ 5 MP</li>
                <li class="list-group-item">Camera trước: 16 MP</li>
                <li class="list-group-item">CPU: MediaTek Helio P70 8 nhân</li>
                <li class="list-group-item">RAM: 6 GB</li>
                <li class="list-group-item">Bộ nhớ trong: 128 GB</li>
                <li class="list-group-item">Thẻ nhớ: MicroSD, hỗ trợ tối đa 256 GB</li>
                <li class="list-group-item">Thẻ SIM: 2 SIM Nano (SIM 2 chung khe thẻ nhớ), Hỗ trợ 4G</li>
                <li class="list-group-item">Dung lượng pin: 4000 mAh, có sạc nhanh</li>
            </ul>

        </div>
    </div>
</div>